/EjerciciosEnClase/EjemploJUnitAnt/nbproject/private/
/EjerciciosEnClase/EjemploJUnitAnt/build/
/Tareas/VerificadorPalindromo/nbproject/private/
/Tareas/VerificadorPalindromo/build/
/Tareas/Practica TDD/AreaCirculo/nbproject/private/
/Tareas/Practica TDD/AreaCirculo/build/
/Tareas/Practica TDD/NumeroPrimo/nbproject/private/
/Tareas/Practica TDD/NumeroPrimo/build/
/Evaluaciones/Primer_Parcial/nbproject/private/
/Evaluaciones/Primer_Parcial/build/
